<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.chillingvan.canvasglsample"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filter.FilterActivity"
            android:label="FilterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.AnimActivity"
            android:hardwareAccelerated="true"
            android:label="AnimActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".compareCanvas.CompareCanvasActivity"
            android:label="CompareCanvas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textureView.TextureCameraActivity"
            android:label="TextureCamera"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".offscreen.OffScreenActivity"
            android:label="OffScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".comparePerformance.ComparePerformanceActivity"
            android:label="ComparePerformanceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".offscreen.SimpleOffScreenActivity"
            android:label="SimpleOffScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".offscreen.camera.OffscreenCameraActivity"
            android:label="OffscreenCameraActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video.MediaPlayerActivity"
            android:label="MediaPlayerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".text.DrawTextActivity"
            android:label="DrawTextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video.MergeVideoActivity"
            android:label="MergeVideoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multi.MultiTextureActivity"
            android:label="MultiTextureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".offscreen.MultiTexOffScreenActivity"
            android:label="MultiTexOffScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listSample.TextureListActivity"
            android:label="TextureListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testcase.testMatrix.TestMatrixActivity"
            android:label="TestMatrixActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testcase.testMatrix.TestMatrixSurfaceActivity"
            android:label="TestMatrixSurfaceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
        <activity android:name=".screenRecord.ScreenRecordActivity"
            android:label="ScreenRecordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.chillingvan.canvasglsample" />
            </intent-filter>
        </activity>
    </application>

</manifest>